<ion-header class="ion-no-border ion-no-margin">
  <ion-toolbar  class="ion-no-margin ion-no-border " mode="md">
    <ion-buttons class="ion-no-margin ion-no-border" slot="start" mode="ios">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
        </ion-menu-button>
    </ion-buttons>   
    <ion-title class="ion-text-center">Vendido.shop</ion-title>
      
    <ion-buttons class="ion-no-margin ion-no-border" slot="end">
      <ion-buttons slot="end" >
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge color="danger"  >3</ion-badge></ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
