ion-icon {
    width: 35px;
    height: 35px;
}

ion-toolbar{
  padding-right: 15px;
  padding-left: 15px;
}
ion-badge {
  position: absolute; 
  right: 1px; top: -3px;

   border-radius: 50px;
   }

