ion-icon {
    width: 35px;
    height: 35px;
    color: rgb(82, 82, 82);
}

ion-toolbar{
  padding-right: 15px;
  padding-left: 15px;
  border-color: none;
}
ion-badge {
  position: absolute; 
  right: 1px; top: -3px;

   border-radius: 50px;
   }

