
// card styles
ion-card{
  border-radius: 25px;
}


.title-store {
  color: var(--ion-color-primary);
  font-weight: 500;
  font-size: 40px;
}
 .direction {
  font-size: 25px!important; 
  color: var(--ion-color-primary);
 }
 @media (max-width: 765px ) {
  .title-store {
    font-size: 30px;
  }
   .direction {
    font-size: 16px!important; 
   } 
 }
 ion-icon {
  padding-right: 5px;
  color: rgb(66, 66, 66);
}