<app-header></app-header>


<ion-content class="ion-padding">



  <div class="ion-padding-start">
    <h2 class="ion-no-margin title-store ">LOCAL O ESTABLECIMIENTO </h2>
    <span class="direction">direccion del lugar o establecimiento...</span>
    </div>
  <ion-slides pager="true" [options]="slideOpts" class="ion-padding ">
    <ion-slide> 
    <ion-img src="https://vendido.shop/adp/inicio/images/bannerg_18.png"></ion-img>
    </ion-slide>
    <ion-slide >
      <!-- <ion-img  class="border" src="https://vendido.shop/adp/inicio/images/bannerg_6.jpe"></ion-img> -->
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  


  <ion-grid >
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col  size="6" sizeMd="6" sizeLg="3" sizeXl="3" class="ion-no-padding ion-no-margin">
        <ion-card class="ion-no-padding ion-no-margin">
      <ion-card-header>
        <ion-card-title class="ion-align-items-center">
         <h5>
           CATEGORIA 1
         </h5>
        </ion-card-title>
      </ion-card-header>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>
      </ion-col>
      <ion-col  size="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card class="ion-no-padding ion-no-margin">
   <ion-card-header>
        <ion-card-title class="ion-align-items-center">
         <h5>
           CATEGORIA 1
         </h5>
        </ion-card-title>
      </ion-card-header>
  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>
      </ion-col>
      <ion-col  size="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header>
            <ion-card-title class="ion-align-items-center">
             <h5>
               CATEGORIA 1
             </h5>
            </ion-card-title>
          </ion-card-header>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>
      </ion-col>
      <ion-col  size="6" sizeMd="6" sizeLg="3" sizeXl="3">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header>
            <ion-card-title class="ion-align-items-center">
             <h5>
               CATEGORIA 1
             </h5>
            </ion-card-title>
          </ion-card-header>
  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
  
  
  
  
  
  
  
</ion-content>


