<ion-toolbar mode="md" class="ion-text-end">
  <ion-title>Logo</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list>
  <div>
    <h1 class="title">Registro</h1>
    <ion-label >Nombre Completo</ion-label>
  <ion-item>
    <ion-input clearInput type="text" mode="ios"></ion-input>
  </ion-item>
  <ion-label >Email</ion-label>
  <ion-item>
    <ion-input clearInput type="email" mode="ios"></ion-input>
  </ion-item>
  <ion-label>Contraseña</ion-label>
  <ion-item>
    <ion-input clearInput type="password" mode="ios"></ion-input>
  </ion-item>
  <ion-label >Repite contraseña</ion-label>
  <ion-item>
    <ion-input clearInput type="password" mode="ios"></ion-input>
  </ion-item>
  <ion-button  expand="block" fill="clear" mode="ios" shape="round">Registrarse</ion-button>
  <span>¿Ya tienes cuenta? <a href="asdasd">Inicia sesión</a></span> 
</div>
</ion-list>
</ion-content>
