<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid fixed  class="ion-padding" >
  <h2 class="title">Tus Productos</h2>
  
  
  <ion-row>
    <ion-col size="12" sizeMd="8" >
      <ion-list>
        <ion-item>
          <ion-row>
            <ion-col size="4"> 
             <ion-img src="./assets/sodas.png"></ion-img>    
            </ion-col>
            <ion-col size="8"> 
             <h4>Nombre Producto</h4>
             <ion-button >
               <ion-icon slot="icon-only" name="add"></ion-icon>
             </ion-button>  
             1234s
             <ion-button >
               <ion-icon slot="icon-only" name="add"></ion-icon>
             </ion-button>  
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
   
   
    </ion-col>
    <ion-col size="12"  sizeMd="4"  >
     <ion-card class="c_total ion-padding-top ion-padding-bottom">
       <h3 class="ion-padding-start">TOTAL</h3>
       <ion-grid >
          <ion-row>
            <ion-col size="6">Total productos</ion-col>
            <ion-col size="6" class="ion-text-end">1324</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" >Envio</ion-col>
            <ion-col size="6"  class="ion-text-end price">9999.9999</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" >Precio Total</ion-col>
            <ion-col size="6"  class="ion-text-end">QWERTY123456</ion-col>
          </ion-row>
        </ion-grid>
    
          <ion-button color="warning" class="ion-margin"  expand="block" >
            <ion-icon slot="end"   name="add"></ion-icon>
            Proceder a Pagar
          </ion-button>
     </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
