    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>PABLO SANTIAGO SEGUNDO</ion-list-header>
          <ion-note>pablito99sant@gmail.com</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let option of options_menu; let i = index">
            <ion-item routerDirection="root" [routerLink]="[option.path]" routerLinkActive="router-link-active"  lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="option.icon"></ion-icon>
              <ion-label>{{ option.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle> 
        </ion-list>  
      </ion-content>
    </ion-menu>
    
